// KPI
.kpi-row {
  border-bottom: 1px solid $green;
  padding-bottom: 12.5px;
}
.kpi-box {
  text-align: center;
}

// How does it work
.how-work-container {
  height: 100vh;
}
.how-work-title {
  .underline-wagon {
    position: relative;
    &::after {
      height: 16px;
      left: 13px;
      right: 248px;
      top: 33px;
      background-color: #52fdb1;
      content: " ";
      position: absolute;
      z-index: -1;
    }
  }
}

.how-work-subtitle {
  color: $blue;
}
.how-work-box {
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  h3 {
    flex: 0 0 45px;
    font-weight: lighter;
    margin-top: 0px;
  }
  p {
    flex: 0 0 85%;
  }
}
.kpi-figure{
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: $green;
  color: white;
  text-align: center;
  opacity: 0.7;
}

