.dashboard-card {
  height: auto;
}

.wrap-bookings {
  margin: 0 30px;
  display: flex;
  flex-wrap: wrap;
}

.dashboard-booking {
  box-shadow: 1px 2px 2px #d5d6d8;
  padding: 0 20px;
  font-size: 15px;
  margin-bottom: 20px;
  flex: 1 1 1000px;
}

.buttons {
  a {
    margin-bottom: 10px;
  }
}

.small {
  font-size: 12px;
}
