.dashboard-card {
  height: auto;
}

.wrap-bookings {
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
}

.dashboard-booking {
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
  padding: 20px;
  font-size: 15px;
  margin-bottom: 20px;
  flex: 1 1 1000px;
}
