<!-- Banner -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)), url('http://spacefill.fr/img/warehouse.jpg');">
  <div class="banner-content" >
    <h1>Warehouse on demand</h1>
    <p>Find short-term storage without commitment everywhere in France</p>
    <div class="search-bar-container">
      <form class="form-inline">
        <div class="search-bar-input">
          <i class="fa fa-map-marker"></i>
          <input type="text" class="form-control" id="warehouse_address" placeholder="Paris, Rhône Alpes, Picardie..." action="/warehouses">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Find a warehouse</button>
      </form>
    </div>
  </div>
</div>

<!-- Description -->
<div class="container">
  <h2 class="text-center">Comment ça marche?</h2>
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <p>Définissez vos critères de stockage et éventuellement de transport</p>
    </div>
    <div class="col-sm-6 col-md-3">
      <p>Recevez les devis de nos partenaires</p>
    </div>
    <div class="col-sm-6 col-md-3">
      <p>Choississez l'offre et signez le contrat</p>
    </div>
    <div class="col-sm-6 col-md-3">
      <p>Suivez l'état de vos stocks tout au long du contrat</p>
    </div>
  </div>
</div>
