<!-- Banner -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)), url('http://spacefill.fr/img/warehouse.jpg');">
  <div class="banner-content" >
    <h1>Warehouse on demand</h1>
    <p>Find short-term storage without commitment everywhere in France</p>
    <form action="/warehouses" id="search-form" method="get">
      <div class="search-bar-input">
        <i class="fas fa-map-marker-alt"></i>
        <input type="text" name="query_localisation" class="form-control warehouse_localisation" id="warehouse_address" placeholder="Paris, Rhône Alpes, Picardie..." action="/warehouses">
      </div>
      <button type="submit" value="query_localisation" class="btn btn-primary mb-2">Find a warehouse</button>
    </form>
  </div>
</div>

<!-- KPI -->
<div class="container">
  <div class="row kpi-row">
    <div class="kpi-box col-xs-12 col-sm-4">
      <h2>3000</h2>
      <p>Entrepôts référencés</p>
    </div>
    <div class="kpi-box col-xs-12 col-sm-4">
      <h2>25</h2>
      <p>Prestataires logistiques</p>
    </div>
    <div class="kpi-box col-xs-12 col-sm-4">
      <h2>0€</h2>
      <p>Plateforme gratuite</p>
    </div>
  </div>
</div>

<!-- Comment ça marche? -->
<div class="container how-work-container">
  <h1 class="text-center how-work-title"><span class="underline-wagon">Comment ça marche?</span></h1>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h3 class="text-center how-work-subtitle">Location d'entrepôts court terme</h3>
      <div class="how-work-box">
        <h3 class="kpi-figure">1</h3>
        <p>Définissez les critères de votre recherche (taille d'entrepôt, durée, location...)</p>
      </div>
      <div class="how-work-box">
        <h3 class="kpi-figure">2</h3>
        <p>Nous recherchons parmi plus de 3000 entrepôts référencés</p>
      </div>
      <div class="how-work-box">
        <h3 class="kpi-figure">3</h3>
        <p>Recevez les offres disponibles directement sur notre plateforme en ligne</p>
      </div>
      <div class="how-work-box">
        <h3 class="kpi-figure">4</h3>
        <p>Louez sans engagement long terme</p>
      </div>
      <div class="text-center how-work-btn">
        <%= link_to 'Louez un entrepôt de court terme', warehouses_path, class: "btn btn-primary"%>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <h3 class="text-center how-work-subtitle">Externalisation des stocks</h3>
      <div class="how-work-box">
        <h3 class="kpi-figure">1</h3>
        <p>Définissez vos besoins de stockage</p>
      </div>
      <div class="how-work-box">
        <h3 class="kpi-figure">2</h3>
        <p>Recevez des devis des meilleurs prestataires en moins de 48h</p>
      </div>
      <div class="how-work-box">
        <h3 class="kpi-figure">3</h3>
        <p>Sélectionnez l'offre qui vous convient et concractualisez en ligne</p>
      </div>
      <div class="how-work-box">
        <h3 class="kpi-figure">4</h3>
        <p>Gérez vos stocks directement depuis notre plateforme en ligne</p>
      </div>
      <div class="text-center how-work-btn">
        <%= link_to 'Externalisez mes stocks', warehouses_path, class: "btn btn-primary"%>
      </div>
    </div>
  </div>
</div>
