.banner {
  color: white;
  text-align: center;
  height: calc(100vh - 70px);
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-content {
  max-width: 100%;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.8;
  margin-bottom: 30px;
}
.form-inline {
  display: inline-flex;
  padding-top: 10vh;
}
#search-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  // border-radius: 2px;
  font-size: 20px;
  button {
    flex: 0 0 180px;
    margin-bottom: 5px;
  }
}
.search-bar-input {
  flex: 0 0 350px;
  position: relative;
  color: #CDCDCD;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-right: 5px;
  margin-bottom: 5px;
  i {
    position: absolute;
    left: 12px;
    top: 22%;
    font-size: 22px;
    color: #484848;
  }
}

.warehouse_localisation {
  padding-left: 35px;
}

#banner-form {
  height: 100%;
  padding-bottom: 30px;
}
