.input-content {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
 padding-left: 15px;
 padding-right: 15px;
 padding-top: 15px;
 font-size: 15px;
}

.address-input {
  flex: 0 0 97%;
}

.number-input {
  flex: 0 0 30%;
}

.checkbox-input {
  flex: 0 0 30%;
  font-size: 12px;
}

.button-input {
  margin-top: 15px;
  flex: 0 0 30%;
  font-size: 12px;
}

.filter-btn {
  width: 90%;
}
